* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
  padding: 20px;
}

/* Layout */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

/* Card */
.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Form */
h2 {
  margin-bottom: 15px;
  color: #333;
}

.form-group {
  margin-bottom: 12px;
}

label {
  font-size: 14px;
  color: #555;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #343a40;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background: #f1f1f1;
}

/* Buttons */
.action-btn {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.edit {
  background: #ffc107;
  color: black;
}

.delete {
  background: #dc3545;
}

/* Responsive */
@media(max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.total-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding: 12px 20px;
  background: linear-gradient(135deg, #28a745, #218838);
  color: #fff;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  transition: all 0.3s ease;
}

.total-btn b {
  font-weight: 600;
}

.total-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
